In [1]:
1+1

2

In [2]:
x = 30

In [3]:
print(x)

30

In [4]:
p = 100
r = 10
t = 5
interest = p*r*t/100

In [5]:
interest

50.0

Q1: Choose your base between 3 and 13

Q2: Add/Substraction single digit and multiple numbers in your number system

Q3: Prepare a table of single digit multiplications in your number system.

Q4: Multiply multiple digits in your number system

Q5: Convert 1, 10, 20, 30, 100 from your base to base10.

Q6. Write a strategy to convert a number in your base to base 10 in plain english or psedo code or code

Q7. Write a strategy to convert a number in base N to base M in plain english or psedo code or code

Q8.

Q: In base 10, how many numbers can you represent in 5 digits?
_ _ _ _ _
0 to 99999
A: 10**5

In [ ]:
1 -> 00001
6 -> 00006

Q: In base 7, how many numbers can you represent in 5 digits?

A: 7**5

Q: In base B, how many numbers can you represent in d digits?

A: B**d

In [ ]:
# To represent to but not including 10000 in base10, how many digits do you need?

Object `need` not found.

Q: To represent number up to 9999 in base10, how many digits do you need?

A: Four
Note: we are representing total 10000 numbers

Q: To represent N numbers, how many digits do we need in base 10?

A: log10(N)

In [ ]:
# Q: Compute log10 of 100
A: log10(100) = 2

In [ ]:
import math
math.log10(10)

1.0

In [ ]:
math.log10(1000)

3.0

In [ ]:
math.log10(50)

1.6989700043360187

In [ ]:
10**1.6999

50.10718442871759

In [ ]:
# log(346)

In [ ]:
10**2.45

281.8382931264455

In [ ]:
10**2.6

398.1071705534973

In [ ]:
10**2.52

331.1311214825911

In [ ]:
10**2.53

338.84415613920237

In [ ]:
10**2.54

346.73685045253166

In [ ]:
10**2.539

345.93937782612204

Q: Write your own algorithm or strategy to find log10. You can use 10**x.

In [ ]:
# Q: To represent N numbers, how many digits do we need in base B?

# A: logB(N)

**Q1. Choose your base between 3 and 13**

In [14]:
import random

def choose_base():
    return random.randint(3, 13)

# Example usage
base = choose_base()
print(f"Chosen base: {base}")

Chosen base: 3

**Q2: Addition and Subtraction in Custom Base**

In [15]:
def add_in_base(a, b, base):
    return int(str(a), base) + int(str(b), base)

def subtract_in_base(a, b, base):
    return int(str(a), base) - int(str(b), base)

base = 5
a, b = "12", "3"
print(f"Addition in base {base}: {add_in_base(a, b, base)}")
print(f"Subtraction in base {base}: {subtract_in_base(a, b, base)}")

Addition in base 5: 10
Subtraction in base 5: 4

**Q3: Multiplication Table in Custom Base**

In [18]:
def multiplication_table(base):
    table = {}
    for i in range(base):
        for j in range(base):
            table[(i, j)] = (i * j) % base
    return table

# Example usage
base = 12
table = multiplication_table(base)
for (i, j), result in table.items():
    print(f"{i} × {j} = {result} in base {base}")

0 × 0 = 0 in base 12
0 × 1 = 0 in base 12
0 × 2 = 0 in base 12
0 × 3 = 0 in base 12
0 × 4 = 0 in base 12
0 × 5 = 0 in base 12
0 × 6 = 0 in base 12
0 × 7 = 0 in base 12
0 × 8 = 0 in base 12
0 × 9 = 0 in base 12
0 × 10 = 0 in base 12
0 × 11 = 0 in base 12
1 × 0 = 0 in base 12
1 × 1 = 1 in base 12
1 × 2 = 2 in base 12
1 × 3 = 3 in base 12
1 × 4 = 4 in base 12
1 × 5 = 5 in base 12
1 × 6 = 6 in base 12
1 × 7 = 7 in base 12
1 × 8 = 8 in base 12
1 × 9 = 9 in base 12
1 × 10 = 10 in base 12
1 × 11 = 11 in base 12
2 × 0 = 0 in base 12
2 × 1 = 2 in base 12
2 × 2 = 4 in base 12
2 × 3 = 6 in base 12
2 × 4 = 8 in base 12
2 × 5 = 10 in base 12
2 × 6 = 0 in base 12
2 × 7 = 2 in base 12
2 × 8 = 4 in base 12
2 × 9 = 6 in base 12
2 × 10 = 8 in base 12
2 × 11 = 10 in base 12
3 × 0 = 0 in base 12
3 × 1 = 3 in base 12
3 × 2 = 6 in base 12
3 × 3 = 9 in base 12
3 × 4 = 0 in base 12
3 × 5 = 3 in base 12
3 × 6 = 6 in base 12
3 × 7 = 9 in base 12
3 × 8 = 0 in base 12
3 × 9 = 3 in base 12
3 × 10 = 6 in base 12
3 × 11 = 9 in base 12
4 × 0 = 0 in base 12
4 × 1 = 4 in base 12
4 × 2 = 8 in base 12
4 × 3 = 0 in base 12
4 × 4 = 4 in base 12
4 × 5 = 8 in base 12
4 × 6 = 0 in base 12
4 × 7 = 4 in base 12
4 × 8 = 8 in base 12
4 × 9 = 0 in base 12
4 × 10 = 4 in base 12
4 × 11 = 8 in base 12
5 × 0 = 0 in base 12
5 × 1 = 5 in base 12
5 × 2 = 10 in base 12
5 × 3 = 3 in base 12
5 × 4 = 8 in base 12
5 × 5 = 1 in base 12
5 × 6 = 6 in base 12
5 × 7 = 11 in base 12
5 × 8 = 4 in base 12
5 × 9 = 9 in base 12
5 × 10 = 2 in base 12
5 × 11 = 7 in base 12
6 × 0 = 0 in base 12
6 × 1 = 6 in base 12
6 × 2 = 0 in base 12
6 × 3 = 6 in base 12
6 × 4 = 0 in base 12
6 × 5 = 6 in base 12
6 × 6 = 0 in base 12
6 × 7 = 6 in base 12
6 × 8 = 0 in base 12
6 × 9 = 6 in base 12
6 × 10 = 0 in base 12
6 × 11 = 6 in base 12
7 × 0 = 0 in base 12
7 × 1 = 7 in base 12
7 × 2 = 2 in base 12
7 × 3 = 9 in base 12
7 × 4 = 4 in base 12
7 × 5 = 11 in base 12
7 × 6 = 6 in base 12
7 × 7 = 1 in base 12
7 × 8 = 8 in base 12
7 × 9 = 3 in base 12
7 × 10 = 10 in base 12
7 × 11 = 5 in base 12
8 × 0 = 0 in base 12
8 × 1 = 8 in base 12
8 × 2 = 4 in base 12
8 × 3 = 0 in base 12
8 × 4 = 8 in base 12
8 × 5 = 4 in base 12
8 × 6 = 0 in base 12
8 × 7 = 8 in base 12
8 × 8 = 4 in base 12
8 × 9 = 0 in base 12
8 × 10 = 8 in base 12
8 × 11 = 4 in base 12
9 × 0 = 0 in base 12
9 × 1 = 9 in base 12
9 × 2 = 6 in base 12
9 × 3 = 3 in base 12
9 × 4 = 0 in base 12
9 × 5 = 9 in base 12
9 × 6 = 6 in base 12
9 × 7 = 3 in base 12
9 × 8 = 0 in base 12
9 × 9 = 9 in base 12
9 × 10 = 6 in base 12
9 × 11 = 3 in base 12
10 × 0 = 0 in base 12
10 × 1 = 10 in base 12
10 × 2 = 8 in base 12
10 × 3 = 6 in base 12
10 × 4 = 4 in base 12
10 × 5 = 2 in base 12
10 × 6 = 0 in base 12
10 × 7 = 10 in base 12
10 × 8 = 8 in base 12
10 × 9 = 6 in base 12
10 × 10 = 4 in base 12
10 × 11 = 2 in base 12
11 × 0 = 0 in base 12
11 × 1 = 11 in base 12
11 × 2 = 10 in base 12
11 × 3 = 9 in base 12
11 × 4 = 8 in base 12
11 × 5 = 7 in base 12
11 × 6 = 6 in base 12
11 × 7 = 5 in base 12
11 × 8 = 4 in base 12
11 × 9 = 3 in base 12
11 × 10 = 2 in base 12
11 × 11 = 1 in base 12

**Q4: Multiplication of Multi-Digit Numbers in Custom Base**

In [19]:
def multiply_in_base(a, b, base):
    a_base10 = int(str(a), base)
    b_base10 = int(str(b), base)
    result_base10 = a_base10 * b_base10
    return convert_to_base(result_base10, base)

def convert_to_base(num, base):
    if num == 0:
        return "0"
    digits = []
    while num:
        digits.append(str(num % base))
        num //= base
    return ''.join(digits[::-1])

base = 6
a, b = "14", "3"  # Numbers in base 6
print(f"Multiplication in base {base}: {multiply_in_base(a, b, base)}")

Multiplication in base 6: 50

**Q5: Convert 1, 10, 20, 30, 100 from Custom Base to Base 10**

In [20]:
def base_to_decimal(num, base):
    return int(str(num), base)

# Example usage
base = 7
numbers = ["1", "10", "20", "30", "100"]
converted = {num: base_to_decimal(num, base) for num in numbers}
print(f"Conversion from base {base} to base 10: {converted}")

Conversion from base 7 to base 10: {'1': 1, '10': 7, '20': 14, '30': 21, '100': 49}

**Q6: Strategy to Convert from Base N to Base 10**

In [21]:
def base_n_to_base_10(num, base):
    return sum(int(digit) * (base ** i) for i, digit in enumerate(reversed(str(num))))

# Example usage
print(base_n_to_base_10("101", 2))  # Binary to decimal
print(base_n_to_base_10("210", 3))  # Base 3 to decimal

5
21

**Q7: Strategy to Convert a Number from Base N to Base M**

In [22]:
def base_n_to_m(num, base_n, base_m):
    decimal_value = base_n_to_base_10(num, base_n)
    return convert_to_base(decimal_value, base_m)

# Example usage
print(base_n_to_m("101", 2, 8))  # Binary to Octal
print(base_n_to_m("210", 3, 5))  # Base 3 to Base 5

5
41

**Q8: How Many Numbers Can Be Represented in 5 Digits in Base 10?**

In [23]:
def count_numbers_in_digits(digits, base=10):
    return base ** digits

# Example usage
print(count_numbers_in_digits(5))  # 100000

100000

Q: Write your own algorithm or strategy to find log10. You can use 10**x.

In [26]:
def log10_power(x):
    if x <= 0:
        raise ValueError("log10 is undefined for zero or negative numbers")

    count = 0
    while x >= 10:
        x /= 10
        count += 1
    while x < 1:
        x *= 10
        count -= 1

    # Approximate fractional part using binary search
    low, high = 0, 1
    while high - low > 1e-6:
        mid = (low + high) / 2
        if 10 ** mid < x:
            low = mid
        else:
            high = mid

    return count + (low + high) / 2

print(round(log10_power(100)))  # Should be close to 2
print(round(log10_power(1000)))  # Should be close to 3
print(round(log10_power(50)) )   # Should be close to 1.69897
print(round(log10_power(0.1)) )  # Should be close to -1

2
3
2
-1