<a href="https://colab.research.google.com/github/bhattijasjeet/Datascience_ai/blob/main/Assignment_8_March.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [6, 2, 7, 4, 9]
for i, e in enumerate(a):
    if i != e - 1:
       print(i, e)

0 6
2 7
4 9

In [ ]:
a= [1,23,5,[1,2,3],6.7,'jasjeet']
for i in a:
  print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'list'>
<class 'float'>
<class 'str'>

In [ ]:
names=["jasjeet","upman","tej","eddy"]
other=[1,2,3,4]

In [ ]:
def my_zip(other,names):
    output=[]
    for i in range(len(names)):
        oae=(other[i],names[i])
        output.append(oae)
    print(output)
    return output

[(1, 'jasjeet'), (2, 'upman'), (3, 'tej'), (4, 'eddy')]

In [ ]:
myzip(names,other)